/**
* block menu de la page d'accueil
*/


.menu-accueil-container .menu-atelier-container{
    margin-top: 50px;
}

.menu-accueil-container .menu .menu-atelier-container .menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.menu-accueil-container .menu .menu-item  .menu-atelier-container .menu .menu-item{
    list-style-type: none;
    margin: 0;
    border: 1px solid #aaa;
    width: 30%;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #56b2b6;
    &:hover{
        background-color: lighten(#56b2b6, 10%);
    }
}

.menu-accueil-container .menu .menu-item a  .menu-atelier-container .menu .menu-item a{
    text-decoration: none;
}